.abi-home_text_content {
  padding: 60px 30px 40px;
  background-image: url(../img/backgroud-post-header.svg); }
  .abi-home_text_content h1, .abi-home_text_content h2 {
    color: #fff;
    font-family: "Bemio";
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.02em;
    text-transform: uppercase; }
  .abi-home_text_content h1 {
    font-size: 29px;
    line-height: 42px;
    margin-bottom: 5px; }
  .abi-home_text_content h2 {
    font-size: 21px;
    line-height: 38px; }

.abi-form_content {
  padding: 30px; }
  .abi-form_content .abi-step_form_header {
    font-family: "Bemio";
    color: #E91D76;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    font-size: 24px;
    margin: 15px 0px; }
    .abi-form_content .abi-step_form_header::before {
      content: '';
      background-color: #E91D76;
      width: 65%;
      height: 1px;
      top: 50%;
      margin-top: -0.5px;
      right: 0px;
      position: absolute; }
    .abi-form_content .abi-step_form_header::after {
      content: '';
      position: absolute;
      height: 43px;
      width: 43px;
      top: 50%;
      margin-top: -21.5px;
      right: 0px;
      border-width: 1px;
      border-style: solid;
      border-color: #E91D76;
      border-radius: 50%;
      background-color: #fff;
      background-image: url(../img/check.svg);
      background-size: auto;
      background-repeat: no-repeat;
      background-position: center; }
  .abi-form_content .abi-form_group {
    padding: 10px 20px; }
    .abi-form_content .abi-form_group label, .abi-form_content .abi-form_group input {
      display: block;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: bold;
      font-size: 14px; }
    .abi-form_content .abi-form_group label {
      line-height: 22px;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold; }
    .abi-form_content .abi-form_group input {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      border: none;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: #000; }
      .abi-form_content .abi-form_group input::placeholder {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px; }
  .abi-form_content .abi-actions_form {
    text-align: center; }
    .abi-form_content .abi-actions_form button {
      background: #E91D76;
      color: #fff;
      font-family: "Montserrat";
      border-width: 1px;
      border-style: solid;
      border-color: #000;
      border-radius: 25px;
      padding: 10px 60px;
      font-size: 16px;
      line-height: 28px; }

.abi-how_to {
  background-color: #FDD223;
  padding: 30px; }
  .abi-how_to h2 {
    text-align: center;
    font-family: "Bemio";
    font-size: 35px; }
  .abi-how_to .abi-how_to_image {
    display: flex;
    padding: 10px;
    height: 60px;
    width: 60px;
    align-items: center; }

.abi-cont_botella_prefooter {
  text-align: center;
  background-image: url(../img/backgroud-pre-footer.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  position: relative; }
  .abi-cont_botella_prefooter img {
    margin-bottom: -150px;
    z-index: -1; }

#abi-header {
  background-color: #E91D76; }
  #abi-header nav {
    padding: 8px 0px;
    text-align: center; }
    @media screen and (min-width: 769px) {
      #abi-header nav {
        text-align: left; } }

footer {
  background-color: #E91D76;
  z-index: 1; }
  footer .abi-cont_footer {
    padding: 0px 20px; }
    footer .abi-cont_footer .abi-first_section {
      text-align: center;
      position: relative;
      padding: 10px; }
      footer .abi-cont_footer .abi-first_section::after {
        content: '';
        position: absolute;
        bottom: 0px;
        background: #fff;
        height: 0.5px;
        width: 100%;
        left: 0px; }
    footer .abi-cont_footer .abi-social_networks {
      text-align: center;
      padding: 10px 0px; }
      footer .abi-cont_footer .abi-social_networks img {
        width: 23px;
        height: 23px;
        padding: 0px 5px; }

* {
  padding: 0px;
  margin: 0px; }

li {
  list-style: none; }

@font-face {
  font-family: 'Bemio';
  src: url("fonts/Bemio.otf"); }

@font-face {
  font-family: 'BemioItalic';
  src: url("fonts/Bemio Italic.otf"); }

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Bold.ttf"); }

.abi-step_form_header {
  border: 1px solid red; }
