@mixin btn-primary {
    background: $primary_color;
    color: $color_font_btns;
    font-family: $general_font;
    border: {
        width: 1px;
        style: solid;
        color: $color_border_btns;
        radius: 25px;
    }
    padding: 10px 60px;
    font-size: 16px;
    line-height: 28px;
}

.abi-thanks-page_content {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: {
        image: url('../img/thanks/thanks-desktop.png');
        size: cover;
        position: center;
    }
    article.abi-thanks_section {
        text-align: center;
        margin-top: -5%;
        h1 {
            font-family: 'Bemio';
            font-size: 45px;
            color: white;
            text-transform: uppercase;
            -webkit-text-stroke-color: black;
            -webkit-text-stroke-width: 1px;
        }
        .keep-trying {
            width: 80%;
            max-width: 420px;
            font-family: 'Bemio';
            text-align: center;
            font-size: 18px;
            color: white;
            -webkit-text-stroke-color: black;
            -webkit-text-stroke-width: 1.2px;
            margin: 15px auto;
            text-transform: uppercase;
        }
        .more-information {
            width: 80%;
            max-width: 420px;
            font-family: 'Montserrat-regular';
            // font-weight: bold;
            font-size: 14px;
            margin: 25px auto;
            a {
                color: #000;
                font-weight: bold;
            }
        }
        .abi-actions_thanks {
            button {
                @include btn-primary;
            }
        }
    }
    @media (max-width: 768px) {
        background: {
            image: url('../img/thanks/thanks-mobile.png');
        }
        article.abi-thanks_section {
            h1 {
                font-size: 35px;
            }
            p.more-information {
                font-size: 16px;
            }
            p.more-information {
                font-size: 12px;
            }
        }
    }
}

.abi-legal-page_content {
    .abi-legal_header {
        width: 100%;
        height: 10vw;
        max-height: 149px;
        display: flex;
        align-items: center;
        background: {
            image: url('../img/legal/footer-desktop.header.png');
            size: cover;
            position: center;
        }
        h2 {
            padding: 0px 30px;
            font-size: 32px;
            font-family: 'Montserrat';
        }
        @media (max-width: 768px) {
            height: 20vw;
            background: {
                image: url('../img/legal/footer-mobile-header.png');
            }
            h2 {
                padding: 0px 20px;
                font-size: 25px;
                font-family: 'Montserrat';
            }
        }
        @media (max-width: 400px) {
            h2 {
                font-size: 6vw;
            }
        }
    }
    article.abi-legal_container {
        padding: 20px 30px;
        font-family: 'Montserrat-regular';
        font-size: 16px;
        @media (max-width: 768px) {
            font-size: 12px;
        }
    }
}

.abi-404-page_content {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: {
        image: url('../img/404/404-desktop.png');
        size: cover;
        position: center;
    }
    article.abi-404_section {
        text-align: center;
        margin-top: -5%;
        padding: 0px 20px;
        h2 {
            &:not(.upps-title) {
                font-size: 45px;
                font-family: 'Bemio';
                color: black;
            }
            &.upps-title {
                margin: 20px 0px;
                margin-bottom: 30px;
                font-family: 'Bemio';
                font-size: 30px;
                color: white;
                text-transform: uppercase;
                -webkit-text-stroke-color: black;
                -webkit-text-stroke-width: 0.7px;
            }
        }
        .keep-trying {
            width: 80%;
            max-width: 420px;
            font-family: 'Bemio';
            text-align: center;
            font-size: 18px;
            color: white;
            -webkit-text-stroke-color: black;
            -webkit-text-stroke-width: 1.2px;
            margin: 15px auto;
        }
        .more-information {
            width: 80%;
            max-width: 420px;
            font-family: 'Montserrat-regular';
            font-weight: 100;
            font-size: 14px;
            margin: 25px auto;
        }
        .abi-actions_thanks {
            button {
                @include btn-primary;
            }
        }
    }
    @media (max-width: 768px) {
        background: {
            image: url('../img/404/404-mobile.png');
        }
        article.abi-thanks_section {
            h1 {
                font-size: 35px;
            }
            p.more-information {
                font-size: 16px;
            }
            p.more-information {
                font-size: 12px;
            }
        }
    }
}

.abi-home_text_content,
.abi-form_content {
    padding: 60px 30px 40px;
    background: {
        image: url('../img/backgroud-post-header.svg')
    }
    header {
        h1,
        h2,
        h3 {
            color: $color_font_title_primary;
            font-family: $font_titles_primary;
            font-style: normal;
            font-weight: bold;
            letter-spacing: -0.02em;
            text-transform: uppercase;
        }
        h2 {
            width: 68%;
            font-size: 3.6vw;
            line-height: 1.1;
            margin-bottom: 5px;
            -webkit-text-stroke-color: black;
            -webkit-text-stroke-width: 1px;
            margin-bottom: 10px;
        }
        h3 {
            width: 55%;
            // font-size: 21px;
            font-size: 2.7vw;
            margin-bottom: 42px;
            line-height: 38px;
            line-height: 1.1;
            -webkit-text-stroke-color: black;
            -webkit-text-stroke-width: 1px;
        }
    }
}

.abi-form_content {
    padding: 70px 90px;
    background-image: url('../img/background-form.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    max-width: 1444px;
    // width: 100%;
    height: 83vw;
    form {
        display: flex;
        // justify-content: space-between;
        width: 100%;
        #abi-form_content__first_step {
            padding: 25px;
            width: 50%;
            max-width: 396px;
            min-width: 356px;
            background-color: rgba($color_line_footer, 0.9);
            .abi-form_group {
                padding: 10px 20px 20px;
            }
        }
        #abi-form_content__second_third_step {
            margin-left: 40px;
            box-sizing: border-box;
            padding: 25px;
            margin-top: 80px;
            width: 45%;
            max-width: 401px;
            min-width: 380px;
            height: max-content;
            background-color: rgba($color_line_footer, 0.9);
        }
    }
    .abi-step_form_header {
        font-family: $font_titles_primary;
        color: $primary_color;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        font-size: 24px;
        margin: 15px 0px;
        &::before {
            content: '';
            background-color: $primary_color;
            width: calc(65% - 44px);
            height: 1px;
            top: 50%;
            margin-top: -0.5px;
            right: 0px;
            position: absolute;
            right: 44px;
        }
        &::after {
            content: '';
            border: 1px solid $primary_color;
            border-radius: 50%;
            position: absolute;
            height: 43px;
            width: 43px;
            top: 50%;
            margin-top: -21.5px;
            right: 0px;
            background: {
                color: transparent;
                image: url(../img/check.svg);
                size: auto;
                repeat: no-repeat;
                position: center;
            }
        }
    }
    #abi-form_content__first_step .abi-step_form_header:nth-child(1) {
        color: #00B2E2 !important;
        &::before {
            background-color: #00B2E2;
        }
        &::after {
            border: 1px solid #00B2E2;
            background: {
                image: url(../img/check-blue.svg);
            }
        }
    }
    #abi-form_content__second_third_step .abi-step_form_header:nth-child(3) {
        color: #2EC924 !important;
        &::before {
            background-color: #2EC924;
        }
        &::after {
            border: 1px solid #2EC924;
            background: {
                image: url(../img/check-green.svg);
            }
        }
    }
    .abi-form_group {
        // padding: 10px 20px;
        h2 {
            line-height: 22px;
            text-transform: uppercase;
            font: {
                size: 15px;
                weight: bold;
                family: 'Montserrat-regular' !important;
            }
        }
        label,
        input {
            display: block;
            font: {
                family: $general_font;
                style: normal;
                weight: bold;
                size: 14px;
            }
        }
        label:not(.error) {
            line-height: 22px;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
        }
        label.error {
            font-family: 'Montserrat-regular' !important;
            font-size: 12px;
            line-height: 1.2;
            text-transform: lowercase;
            color: #e12726;
            font-weight: 100;
            &::first-letter {
                text-transform: uppercase;
            }
        }
        input:not(input[type=checkbox]) {
            background-color: transparent;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            border: none;
            border-bottom: {
                width: 2px;
                style: solid;
                color: $color_border_inputs;
            }
            &:hover,
            &:focus,
            &:active {
                outline: 0;
                outline-color: transparent !important;
            }
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                box-shadow: 0 0 0 30px white inset !important;
                -webkit-box-shadow: 0 0 0 30px white inset !important;
            }
            &::placeholder {
                font-weight: normal !important;
                color: rgba(#000, 0.5);
                font: {
                    family: 'Montserrat-regular' !important;
                    size: 14px;
                }
            }
            &[type="number"] {
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                -moz-appearance: textfield;
            }
            &[type="number"] {
                -webkit-appearance: none;
                margin: 0;
                -moz-appearance: textfield;
            }
        }
        &.brith-group {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            label {
                width: 100%;
            }
            select {
                width: 30%;
            }
            #wrapper-birthday {
                width: 100%;
                display: flex;
                justify-content: space-between;
                // max-height: 41px;
                .js-form-item {
                    width: 30%;
                    select {
                        width: 100%;
                        // height: 100%;
                        height: 39px;
                    }
                }
            }
        }
        &.abi-upload-form {
            border-bottom: 1.5px solid $primary_color;
            margin-bottom: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .js-form-item.form-item-sube-una-foto-con-tu-red-rock-sabor-misterioso {
                label[id^=edit-image-upload],
                label#edit-image-upload--label {
                    font: {
                        family: $general_font;
                        style: normal;
                        weight: bold;
                        size: 14px;
                    }
                    border-radius: 50px;
                    text-align: center;
                    width: 312px;
                    color: $color_border_inputs;
                    border: 1px solid $primary_color;
                    background-color: white;
                    display: inline-block;
                    cursor: pointer;
                    text-transform: none;
                    &:focus+label,
                    &+label:hover {
                        color: white;
                        background-color: $primary_color;
                    }
                }
                .description {
                    margin: 20px 0px;
                    width: 100%;
                    text-align: center;
                    display: block;
                    font: {
                        family: 'Montserrat-regular' !important;
                        size: 12px;
                    }
                }
                #edit-image-upload.abi-file_control.js-form-managed-file.form-managed-file {
                    .messages.messages--error.file-upload-js-error {
                        font-family: 'Montserrat-regular' !important;
                        font-size: 12px;
                    }
                    input {
                        display: none;
                    }
                }
                #edit-image-upload--description {
                    margin: 20px 0px;
                    width: 100%;
                    text-align: center;
                    display: block;
                    font: {
                        family: 'Montserrat-regular' !important;
                        size: 12px;
                    }
                }
            }
            .upload_image_redrock {
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
                &+label {
                    font: {
                        family: $general_font;
                        style: normal;
                        weight: bold;
                        size: 14px;
                    }
                    border-radius: 50px;
                    text-align: center;
                    width: 312px;
                    color: $color_border_inputs;
                    border: 1px solid $primary_color;
                    background-color: white;
                    display: inline-block;
                    cursor: pointer;
                    text-transform: none;
                }
                // &:valid + label{
                //     color: red !important;
                // }
                // &:focus + label{
                //     outline: 1px dotted #000;
                //     outline: -webkit-focus-ring-color auto 5px;
                // }
                &:focus+label,
                &+label:hover {
                    color: white;
                    background-color: $primary_color;
                }
            }
            // id^=edit-image-upload-remove-button--3UPLZf3AId8
            div[id^=ajax-wrapper--] {
                div[id^=edit-image-upload--] {
                    // display: none; 
                    input[id^=edit-image-upload-upload--] {
                        display: none;
                        //    border: 1px solid blue;
                    }
                    input[id^=edit-image-upload-upload-button--] {
                        display: none;
                        // border: 1px solid magenta;
                    }
                }
            }
            div[id^=ajax-wrapper--].image-uploaded {
                // border: 1px solid black;
                div[role="contentinfo"] {
                    font-family: 'Montserrat-regular' !important;
                    font-size: 12px;
                    color: #e12726;
                }
                // div[id^=edit-image-upload-upload--] {
                // }
                .js-form-item.js-form-type-managed-file.form-item-sube-una-foto-con-tu-red-rock-sabor-misterioso {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    label[for^=edit-image-upload-upload--] {
                        font: {
                            family: $general_font;
                            style: normal;
                            weight: bold;
                            size: 14px;
                        }
                        border-radius: 50px;
                        text-align: center;
                        width: 90%;
                        color: transparent;
                        border: 1px solid $primary_color;
                        background-color: #FFAED1;
                        display: inline-block;
                        cursor: pointer;
                        text-transform: none;
                        position: relative;
                        font-size: 1px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &:focus+label,
                        &+label:hover {
                            color: white;
                            background-color: $primary_color;
                        }
                        &:before {
                            content: "Foto cargada exitosamente";
                            text-align: center;
                            color: #000;
                            width: 100%;
                            display: block;
                            margin: 0px auto;
                            position: absolute;
                            // top: 25%;
                            left: 0px;
                            background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 0C5.15915 0 0 5.15915 0 11.5C0 17.8409 5.15915 23 11.5 23C17.8409 23 23 17.8409 23 11.5C23 5.15915 17.8409 0 11.5 0ZM17.9273 8.47368L10.5777 15.7657C10.1454 16.198 9.45363 16.2268 8.99248 15.7945L5.1015 12.2494C4.64035 11.817 4.61153 11.0965 5.01504 10.6353C5.44737 10.1742 6.16792 10.1454 6.62907 10.5777L9.71303 13.4023L16.2845 6.83083C16.7456 6.36967 17.4662 6.36967 17.9273 6.83083C18.3885 7.29198 18.3885 8.01253 17.9273 8.47368Z' fill='%23E91D76'/%3E%3C/svg%3E%0A");
                            background-repeat: no-repeat;
                            background-position: 93% 1px;
                            font-size: 12px;
                            background-size: 6%;
                            @media (max-width: 400px) {
                                font-size: 3vw;
                            }
                        }
                    }
                    .form-managed-file+label[id^=edit-image-upload--]~label[id^=edit-image-upload--] {
                        border: 5px solid red !important;
                    }
                    // label[for^=edit-image-upload-upload--] {
                    // }
                }
            }
        }
        .max-size-upload {
            margin: 20px 0px;
            width: 100%;
            text-align: center;
            display: block;
            font: {
                family: 'Montserrat-regular' !important;
                size: 12px;
            }
        }
        select {
            width: 100%;
            display: inline-block;
            height: 37px;
            border: 1px solid transparent;
            border: none;
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.96302 6.54903L14.2191 0.292969L15.6333 1.70718L7.96302 9.37746L0.292746 1.70718L1.70696 0.292968L7.96302 6.54903Z' fill='%23E91D76'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat, repeat !important;
            background-position: right .7em top 50%, 0 0 !important;
            background-size: .95em auto, 100% !important;
            background-color: transparent;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-bottom: {
                width: 2px;
                style: solid;
                color: $color_border_inputs;
            }
            &:hover,
            &:focus,
            &:active {
                outline: 0;
                outline-color: transparent !important;
            }
        }
    }
    .abi-actions_form {
        text-align: center;
        .input-send-button,
        button {
            @include btn-primary;
        }
    }
}

#upload-paso3>div {
    width: 100%;
    text-align: center;
    div[id^=ajax-wrapper--] {
        .js-form-item {
            text-align: center;
        }
    }
}

div[id^=edit-image-upload--] {
    margin-top: 10px;
    text-align: center;
    span.file.file--image {
        max-width: 300px;
        margin: 0px auto;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        pointer-events: none;
        a {
            font-size: 12px;
            pointer-events: none;
            text-decoration: none;
            color: #E91D76;
            font-family: 'Montserrat-regular' !important;
        }
    }
}

input[data-drupal-selector="edit-image-upload-remove-button"] {
    cursor: pointer;
    border-radius: 25px;
    width: 150px !important;
    margin: 0px auto;
    &:not(:hover) {
        background-color: #e91d76 !important;
    }
    color: #fff;
    border-bottom-color: transparent !important;
    margin-top: 10px;
    &:hover {
        background-color: #ffaed1 !important;
        color: #000;
    }
}

.abi-how_to {
    background-color: $secondary_color;
    padding: 30px 30px;
    padding-bottom: 70px;
    >h2,
    >h3 {
        text-align: center;
        font-family: $font_titles_primary;
        font-size: 35px;
        text-transform: uppercase;
    }
    .abi-how_to_image {
        display: inline;
        padding: 10px;
        height: 60px;
        width: 60px;
        align-items: center;
    }
    ul {
        padding: 0px;
        margin-top: 51px;
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            padding: 0px 40px;
            width: 266px;
            text-align: center;
            >p,
            >h3 {
                padding: 0px 19px;
                font-size: 18px;
                font-family: 'MuseoSans_700';
            }
        }
    }
}

.abi-cont_botella_prefooter {
    text-align: center;
    background-image: url(../img/backgroud-pre-footer.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    position: relative;
    display: none;
    img {
        margin-bottom: -150px;
        z-index: -1;
    }
    @media (max-width: 768px) {
        display: block !important;
    }
}

@media (min-width: 1500px) {
    .abi-form_content {
        height: unset !important;
        max-width: unset !important;
        background-position: top;
    }
}

@media (max-width: 1269px) {
    .abi-form_content {
        height: unset;
    }
    .abi-how_to {
        padding: 30px 20px;
        padding-bottom: 60px !important;
        ul {
            li {
                padding: 0px 20px;
                >p,
                >h3 {
                    padding: 0px;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .abi-form_content {
        form {
            #abi-form_content__first_step,
            #abi-form_content__second_third_step {
                width: 55%;
                max-width: auto;
                min-width: auto;
            }
        }
    }
    .abi-how_to {
        ul {
            li {
                padding: 0px 20px;
                >p,
                >h3 {
                    font-size: 15px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .abi-form_content {
        border: 1px solid white;
        padding: 0px !important;
        background-image: unset;
        header.abi-home_header_content {
            padding: 40px 30px;
            background: {
                image: url(../img/backgroud-post-header.svg)
            }
            h2,
            h1,
            h3 {
                width: 100%;
            }
            h2 {
                font-size: 8.6vw;
                word-break: break-word;
                line-height: 0.95;
            }
            h3 {
                font-size: 5vw;
                margin-bottom: 0px;
                line-height: 1.5;
            }
        }
        form {
            flex-wrap: wrap;
            justify-content: center;
            #abi-form_content__first_step,
            #abi-form_content__second_third_step {
                width: 100%;
                max-width: 414px;
                min-width: auto;
            }
            #abi-form_content__second_third_step {
                margin: 0px;
                .abi-form_group {
                    padding: 10px 20px 20px;
                    &.abi-upload-form {
                        padding-bottom: 0px;
                        label {
                            padding: 1px 27px;
                        }
                    }
                }
                margin-bottom: 120px;
            }
        }
    }
    .abi-how_to {
        ul {
            flex-wrap: wrap;
            width: 300px;
            margin: 0px auto;
            margin-top: 50px;
            li {
                max-width: 260px;
                padding: 30px 0px;
                width: 100%;
                text-align: center;
                >p,
                >h3 {
                    font-size: 15px;
                    padding: 0px 35px;
                    ;
                }
            }
        }
    }
}

.js-form-item.js-form-type-checkbox {
    display: flex;
    align-items: flex-start;
    margin-bottom: 35px;
    position: relative;
    input[type=checkbox] {
        height: 15px;
        width: 15px;
        -webkit-appearance: none;
        -webkit-box-shadow: 0px 0px 0px 1px #E91D76;
        box-shadow: 0px 0px 0px 1px #E91D76;
        border-radius: 2px;
        margin-top: 3px;
        &:checked {
            background-color: #E91D76;
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.12075 0.215994C9.55376 0.558799 9.62689 1.18773 9.28409 1.62074L4.53409 7.62074C4.34402 7.86083 4.05442 8.0006 3.74821 8.00004C3.44199 7.99948 3.15291 7.85865 2.96372 7.61786L0.213724 4.11786C-0.127489 3.68359 -0.0520506 3.05494 0.382221 2.71372C0.816493 2.37251 1.44515 2.44795 1.78636 2.88222L3.75301 5.38522L7.716 0.379337C8.0588 -0.0536794 8.68773 -0.12681 9.12075 0.215994Z' fill='white'/%3E%3C/svg%3E%0A");
            background-position: center;
            background-size: 70% !important;
            background-repeat: no-repeat;
        }
    }
    label.error {
        position: absolute;
        top: 31px;
        padding: 0px 35px !important;
        width: -moz-available;
    }
    .description {
        font: {
            size: 12px;
            family: 'Montserrat-regular' !important;
        }
        text-align: left;
        padding-left: 15px;
        a {
            text-decoration: underline;
            color: $color_border_inputs;
        }
    }
}

@media (max-width: 599px) {
    .abi-how_to ul {
        width: 100%;
        li {
            max-width: 100%;
        }
    }
}

.error-form {
    font-family: 'Montserrat-regular' !important;
    font-size: 12px;
    color: #e12726;
    padding: 0px 20px;
}