
@mixin btn-primary {
    background: $primary_color;
    color: $color_font_btns;
    font-family: $general_font;
    border: {
        width: 1px;
        style: solid;
        color: $color_border_btns;
        radius: 25px;
    }
    padding: 10px 60px;
    font-size: 16px;
    line-height: 28px;
}
.abi-thanks-page_content{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: {
        image: url('../img/thanks/thanks-desktop.png');
        size: cover;
        position: center;
    }
    article.abi-thanks_section{
        text-align: center;
        margin-top: -5%;
        h2{
            font-family: 'Bemio';
            font-size: 45px;
            color: white;
            text-transform: uppercase;
            -webkit-text-stroke-color: black;
            -webkit-text-stroke-width: 1px;
        }
        p.keep-trying{
            width: 80%;
            max-width: 420px;
            font-family: 'Bemio';
            text-align: center;
            font-size: 18px;
            color: white;
            -webkit-text-stroke-color: black;
            -webkit-text-stroke-width: 1.2px;
            margin: 15px auto;
        }
        p.more-information{
            width: 80%;
            max-width: 420px;
            font-family: 'Montserrat-regular';
            font-weight: 100;
            font-size: 14px;
            margin: 25px auto;
        }
        .abi-actions_thanks{
            button{
                @include btn-primary; 
            }
        }
    }
    @media (max-width: 768px) {
        background: {
            image: url('../img/thanks/thanks-mobile.png');
        }
        article.abi-thanks_section{
            h2 {
                font-size: 35px;
            }
            p.more-information{
                font-size: 16px;
            }
            p.more-information{
                font-size: 12px;
            }
        }
    }
}

.abi-legal-page_content{
    .abi-legal_header{
        width: 100%;
        height: 10vw;
        max-height: 149px;
        display: flex;
        align-items: center;
        background: {
            image: url('../img/legal/footer-desktop.header.png');
            size: cover;
            position: center;
        }
        h2{
            padding: 0px 30px;
            font-size: 32px;
            font-family: 'Montserrat';
        }
        @media (max-width: 768px) {
            height: 20vw;
            background: {
                image: url('../img/legal/footer-mobile-header.png');
            }
            h2{
                padding: 0px 20px;
                font-size: 25px;
                font-family: 'Montserrat';
            }
        }
        @media (max-width: 400px) {
            h2{
                font-size: 6vw;
            }
        }
    }
    article.abi-legal_container{
        padding: 20px 30px;
        font-family: 'Montserrat-regular';
        font-size: 16px;
        @media (max-width: 768px) {
           font-size: 12px;
        }
    }
}

.abi-404-page_content{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: {
        image: url('../img/404/404-desktop.png');
        size: cover;
        position: center;
    }
    article.abi-404_section{
        text-align: center;
        margin-top: -5%;
        padding: 0px 20px;
        h2{
            &:not(.upps-title) {
                font-size: 45px;
                font-family: 'Bemio';
                color: black;
            }
            &.upps-title{
                margin: 20px 0px;
                margin-bottom: 30px;
                font-family: 'Bemio';
                font-size: 30px;
                color: white;
                text-transform: uppercase;
                -webkit-text-stroke-color: black;
                -webkit-text-stroke-width: 0.7px;
            }
        }
        p.keep-trying{
            width: 80%;
            max-width: 420px;
            font-family: 'Bemio';
            text-align: center;
            font-size: 18px;
            color: white;
            -webkit-text-stroke-color: black;
            -webkit-text-stroke-width: 1.2px;
            margin: 15px auto;
        }
        p.more-information{
            width: 80%;
            max-width: 420px;
            font-family: 'Montserrat-regular';
            font-weight: 100;
            font-size: 14px;
            margin: 25px auto;
        }
        .abi-actions_thanks{
            button{
                @include btn-primary; 
            }
        }
    }
    @media (max-width: 768px) {
        background: {
            image: url('../img/404/404-mobile.png');
        }
        article.abi-thanks_section{
            h2 {
                font-size: 35px;
            }
            p.more-information{
                font-size: 16px;
            }
            p.more-information{
                font-size: 12px;
            }
        }
    }
}



.abi-home_text_content,
.abi-form_content
{
    padding: 60px 30px 40px;
    background: {
        image: url('../img/backgroud-post-header.svg')
    }
    h1, h2{
        color: $color_font_title_primary;
        font-family: $font_titles_primary;
        font-style: normal;
        font-weight: bold;
        letter-spacing: -0.02em;
        text-transform: uppercase;
    }
    h1{
        width: 68%;
        font-size: 3.6vw;
        line-height: 1.1;
        margin-bottom: 5px;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
        margin-bottom: 10px;
    }
    h2{
        width: 55%;
        // font-size: 21px;
        font-size: 2.7vw;
        margin-bottom: 42px;
        line-height: 38px;
        line-height: 1.1;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
    }
}
.abi-form_content{
    padding: 30px;
    background-image: url('../img/background-form.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    max-width: 1444px;
    // width: 100%;
    height: 83vw;
    form{
        display: flex;
        // justify-content: space-between;
        width: 100%;
        #abi-form_content__first_step{
            padding: 25px;
            width: 50%;
            max-width: 396px;
            min-width: 356px;
            background-color: rgba($color_line_footer, 0.9);
            .abi-form_group{
                padding: 10px 20px 20px;
            }
        }
        #abi-form_content__second_third_step{
            margin-left: 40px;
            box-sizing: border-box;
            padding: 25px;
            margin-top: 80px;
            width: 45%;
            max-width: 401px;
            min-width: 380px;
            height: max-content;
            background-color: rgba($color_line_footer, 0.9);
        }
    }
    .abi-step_form_header{
        font-family: $font_titles_primary; 
        color: $primary_color;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        font-size: 24px;
        margin: 15px 0px;
        &::before{
            content: '';
            background-color: $primary_color;
            width: calc(65% - 44px);
            height: 1px;
            top: 50%;
            margin-top: -0.5px;
            right: 0px;
            position: absolute;
            right: 44px;
        }
        &::after{
            content: '';
            border: 1px solid $primary_color;
            border-radius: 50%;
            position: absolute;
            height: 43px;
            width: 43px;
            top: 50%;
            margin-top: -21.5px;
            right: 0px;
            background: {
                color: transparent;
                image: url(../img/check.svg);
                size: auto;
                repeat: no-repeat;
                position: center;
            } 
        }
    }
    .abi-form_group{
        // padding: 10px 20px;
        label, input{
            display: block;
            font: {
                family: $general_font;
                style: normal;
                weight: bold;
                size: 14px;
            }
        }
        label{
            line-height: 22px;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
        }
        input{
            background-color: transparent;
            width: 100%;
            padding: 10px;
            box-sizing: border-box; 
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            border: none;
            border-bottom: {
                width: 2px;
                style: solid;
                color: $color_border_inputs;
            }
            &:hover,
            &:focus,
            &:active {
                outline: 0;
                outline-color: transparent !important;
            }
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                box-shadow: 0 0 0 30px white inset !important;
                -webkit-box-shadow: 0 0 0 30px white inset !important;
            }
            &::placeholder{
                font-weight: normal !important;
                color: rgba(#000, 0.5);
                font: {
                    family: 'Montserrat-regular' !important;
                    size: 14px;
                }
            }
        }
        &.brith-group{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            label{
                width: 100%;
            }
            select{
                width: 30%;
            }
            .wrapper-birthday{
                width: 100%;
                display: flex;
                justify-content: space-between;
                .js-form-item{
                    width: 30%;
                    select{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        &.abi-upload-form{
            border-bottom: 1.5px solid $primary_color;
            margin-bottom: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .js-form-item.form-item-sube-una-foto-con-tu-red-rock-sabor-misterioso{
                #edit-image-upload{

                }
                #edit-image-upload--description{
                    margin: 20px 0px;
                    width: 100%;
                    text-align: center;
                    display: block;
                    font: {
                        family: 'Montserrat-regular' !important;
                        size: 12px;
                    }
                }
            }
            .upload_image_redrock{
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
                & + label {
                    font: {
                        family: $general_font;
                        style: normal;
                        weight: bold;
                        size: 14px;
                    }
                    border-radius: 50px;
                    text-align: center;
                    width: 312px;
                    color: $color_border_inputs;
                    border: 1px solid $primary_color;
                    background-color: white;
                    display: inline-block;
                    cursor: pointer;
                    text-transform: none;
                }
                // &:valid + label{
                //     color: red !important;
                // }
                // &:focus + label{
                //     outline: 1px dotted #000;
	            //     outline: -webkit-focus-ring-color auto 5px;
                // }
                &:focus + label,
                & + label:hover {
                    color: white;
                    background-color: $primary_color;
                }
            }
        }
        .max-size-upload{
            margin: 20px 0px;
            width: 100%;
            text-align: center;
            display: block;
            font: {
                family: 'Montserrat-regular' !important;
                size: 12px;
            }
        }
        select{
            width: 100%;
            display: inline-block;
            height: 37px;
            border: 1px solid transparent;
            border: none;
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.96302 6.54903L14.2191 0.292969L15.6333 1.70718L7.96302 9.37746L0.292746 1.70718L1.70696 0.292968L7.96302 6.54903Z' fill='%23E91D76'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat, repeat !important;
            background-position: right .7em top 50%, 0 0 !important;
            background-size: .95em auto, 100% !important;
            background-color: transparent;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-bottom: {
                width: 2px;
                style: solid;
                color: $color_border_inputs;
            }
            &:hover,
            &:focus,
            &:active {
                outline: 0;
                outline-color: transparent !important;
            }
        }
    }
    .abi-actions_form{
        text-align: center;
        .input-send-button,
        button{
            @include btn-primary; 
        }
    }
}
.abi-how_to{
    background-color: $secondary_color;
    padding: 30px 30px;
    padding-bottom: 70px;
    h2{
        text-align: center;
        font-family: $font_titles_primary;
        font-size: 35px;
    }
    .abi-how_to_image{
        display: inline;
        padding: 10px;
        height: 60px;
        width: 60px;
        align-items: center;
    }
    ul {
        padding: 0px;
        margin-top: 51px;
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            padding: 0px 40px;
            width: 266px;
            text-align: center;
            p {
                padding: 0px 19px;
                font-size: 18px;
                font-family: 'MuseoSans_700';
            }
        }
    }
}
.abi-cont_botella_prefooter{
    text-align: center;
    background-image: url(../img/backgroud-pre-footer.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    position: relative;
    img {
        margin-bottom: -150px;
        z-index: -1;
    }
}
@media (min-width: 1500px) {
    .abi-form_content{
        height: unset !important;
        max-width: unset !important;
        background-position: top;
    }
}
@media (max-width: 1269px) {
    .abi-form_content{
        height: unset;
    }
    .abi-how_to{
        padding: 30px 20px;
        padding-bottom: 60px !important;
        ul{
            li{
                padding: 0px 20px;
                p{
                    padding: 0px;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .abi-form_content{
        form{
            #abi-form_content__first_step,
            #abi-form_content__second_third_step{
                width: 55%;
                max-width: auto;
                min-width: auto;
            }
        }
    }
    .abi-how_to{
        ul{
            li{
                padding: 0px 20px;
                p{
                    font-size: 15px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .abi-form_content{
        border: 1px solid white;
        padding: 0px !important;
        background-image: unset;
        header.abi-home_header_content{
            padding: 40px 30px;
            background: {
                image: url(../img/backgroud-post-header.svg)
            }
            h1, h2{
                width: 100%;
            }
            h1{
                font-size: 8.6vw;
                word-break: break-word;
                line-height: 0.95;
            }
            h2{
                font-size: 5vw;
                margin-bottom: 0px;
                line-height: 1.5;
            }
        }
        form{
            flex-wrap: wrap;
            justify-content: center;
            #abi-form_content__first_step,
            #abi-form_content__second_third_step{
                width: 100%;
                max-width: 414px;
                min-width: auto;
            }
            #abi-form_content__second_third_step{
                margin: 0px;
                .abi-form_group{
                    padding: 10px 20px 20px;
                    &.abi-upload-form{
                        padding-bottom: 0px;
                        label{
                            padding: 1px 27px;
                        }
                    }
                }
                margin-bottom: 120px;
            }
        }
    }
    .abi-how_to{
        ul{
            flex-wrap: wrap;
            width: 300px;
            margin: 0px auto;
            margin-top: 50px;
            li{
                max-width: 260px;
                padding: 30px 0px;
                width: 100%;
                text-align: center;
                p{
                    font-size: 15px;
                    padding: 0px 35px;;
                }
            }
        }
    }
}

.js-form-item.js-form-type-checkbox {
    display: flex;
    align-items: flex-start;
    .description{
        font: {
            size: 12px;
            family: 'Montserrat-regular' !important;
        }
        text-align: left;
        padding-left: 15px;
    }
}
