#abi-header{
    background-color: $primary_color;
    border-bottom: 0.5px solid rgba($color_line_footer, 0.5);
    nav {
        padding: 8px 30px;
        text-align: center;
        @media screen and (min-width: 769px){
            text-align: left;
        }
    }
}