$primary_color: #E91D76; 
$secondary_color: #FDD223;
$color_line_footer: #fff;
$color_circle_steps: #fff;
$color_border_inputs: #000;
$color_border_btns: #000;
$color_font_btns: #fff;

$general_font: 'Montserrat';
$font_titles_primary: 'Bemio';
$font_titles_primary_italic: 'BemioItalic';
$color_font_title_primary: #fff;
$color_border_icon_primary: #000;
